{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{% block title %}
Trang chủ
{% endblock %}

{# Nội dung trong block content #}
{% block content %}
<h1>Day la trang chu</h1>
{% endblock %}
{# End Nội dung trong block content #}