<h1>GIỚI THIỆU NÈ</h1>

<table border="1" width="100%">
    <tr>
        <td>Địa chỉ</td>
        <td>Điện thoại</td>
        <td>Công ty</td>
    </tr>
    <tr>
        <td>{{ dc }}</td>
        <td>{{ dt }}</td>
        <td>{{ cty }}</td>
    </tr>
</table>